# Server environment example
PORT=8000
MONGO_URI=mongodb://mongo:27017/notes-app
SECRET_KEY=your_jwt_secret
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:8000
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
MAIL_USER=your.email@gmail.com
MAIL_PASS=your_gmail_app_password
